@import "tailwindcss";

@layer base {
  html,
  body {
    margin: 0;
    padding: 0;
    height: 100%;
    overflow: hidden;
    background-color: #f4845f;
    font-family: 'Inter', sans-serif;
  }
}
